{% extends "layouts/app.html" %}

{% block title %}
    {% if user_data.username %}
        {{ user_data.username or '' }} -
    {% else %}
        Add New User - 
    {% endif %}
    User - Control Panel
{% endblock title %}

{% block main %}
<main>
    <div class="container">
        <div class="mt-5">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for message in errors %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}
            {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                <div class="alert alert-success" role="alert">
                    <ul>
                        {% for message in successes %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                {% for field in form.errors %}
                    {{field}}
                    <ul class="errors">
                        {% for error in form[field].errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                </div>
            {% endif %}
            
        </div>
        
        <div class="mt-5">
            {% if user_data.unique_id %}
                <h2>Edit: {{ user_data.username }}</h2>
            {% else %}
                <h2>Add New User</h2>
            {% endif %}
            <form action="{{ form_action_url }}" method="post">
                <div class="row mb-3">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" minlength="4" maxlength="35" pattern="[a-zA-Z0-9_]+" value="{{ user_data.username or '' }}" class="form-control" id="username" placeholder="Username"
                        {% if user_data.unique_id %}
                        disabled
                        {% endif %}
                        required="required"
                        >
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="display_name" class="col-sm-2 col-form-label">Display Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="display_name" value="{{ user_data.display_name or '' }}" class="form-control" id="display_name" placeholder="Display Name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" value="" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password2" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password_again" value="" class="form-control" id="password2" placeholder="Confirm Password">
                    </div>
                </div>
                <hr class="my-4">
                {% if user_data.unique_id != current_user.unique_id %}
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Privileges</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="is_admin" id="is_admin_yes" value="1"
                            {% if user_data.is_admin is true %}
                            checked
                            {% endif %}
                            >
                            <label class="form-check-label" for="gridRadios1">
                                Admin
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="is_admin" id="is_admin_no" value="0" 
                            {% if user_data.is_admin is not true %}
                            checked
                            {% endif %}
                            >
                            <label class="form-check-label" for="gridRadios2">
                                User
                            </label>
                        </div>
                    </div>
                </fieldset>
                {% endif %}
                <div class="text-center">
                    {% if user_data.unique_id %}
                        <button class="btn btn-primary" type="submit">Update</button>
                        <a class="btn btn-secondary" href="{{ url_for('admin.index') }}">Cancel</a>
                    {% else %}
                        <button class="btn btn-primary" type="submit">Add</button>
                        <a class="btn btn-secondary" href="{{ url_for('admin.index') }}">Cancel</a>
                    {% endif %}
                </div>
                <p class="mt-5 mb-3 text-muted"></p>
                <input type="hidden" name="_method" value="{{ form_method or '' }}">
            </form>
        </div>
    </div>
</main>

{% endblock main %}


{% block script %}
<script>
</script>
{% endblock script %}